div
    {
        width: 150px;
        height: 150px;
    }
.div1{
        background-color: blue;
        position:relative;
        top: 262px;
        left:100px;

}
.div2{
    background-color: brown;
    position:absolute;
    left:125px;
    bottom: 100px;
}
.div3{
    background-color: coral;
    position:absolute;
    left: 130px;
    bottom: 100px;
}